<po-page-default p-title="Movimentações manuais" [p-breadcrumb]="breadcrumb">
  <div style="max-width: 30vw">
    <p>Aqui você pode inserir movimentações manuais ou alterar os movimentos iseridos através do arquivo CSV.</p>
  </div>
  <po-container class="po-lg-12">
    <div class="po-row">
      <po-button class="po-md-4" p-icon="fa-check-circle" p-label="Incluir"></po-button>
      <span class="po-icon po-icon-device-desktop"></span>
    </div>

    <po-table
      [p-auto-collapse]="true"
      [p-columns]="columns"
      [p-hide-columns-manager]="false"
      [p-hide-table-search]="true"
      [p-items]="items"
      [p-sort]="false"
      [p-striped]="true"
    >
    </po-table>

  </po-container>
</po-page-default>